body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg
    ,#332964,#b0a8d8) !important;
}

h1 {font-size: 50;}

p {word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    }

div {
    padding-left: 2%;
    margin-left: -2%;
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    padding-right: 2%;
    margin-right: -2%;
    margin:auto;
    }

.sticky {
    position: fixed;
    top: 0;
    width: 100%
    }
    
.sticky + .content {
    padding-top: 102px;
    }

.btn-primary{
    background: #9e90fa;
    border: none;
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 160%;
    color: rgb(56, 18, 56);
    transition: background 0.5s;
}

.btn-primary:hover{
    background: #cd95fa;
}

.hidden {
    opacity: 0;
    transform: translateY(5%);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.mypad1 {
    padding: 4rem !important;
}

.bolder {
    font-family: "Poppins", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}
  

@media only screen and (max-width: 600px) {
.col { 
    display: block;
    width: 100%;
}
.mypad1 {
    padding: 1.2rem !important;
}
}