
p {word-wrap: break-word;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

div {
    padding-left: 2%;
    margin-left: -2%;
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    padding-right: 2%;
    margin-right: -2%;
    margin:auto;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

.mskip{
    margin-right: 1.5%;
}


li {
    margin-top: 2%;
    margin-bottom: 0%;
    float: right;
}

.display-4 {
    font-size: 350% !important;
}

a {
    text-decoration: none !important;
    color: white !important;
    transition: ease-in-out 0.5s !important;
}

a:hover {
    color: #9e90fa !important;
    font-size: 110% !important;
}

.bolder {
    font-family: "Poppins", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.bg-light2 {
    background-color: #DFF5FF;
}

.special-text-gradient {
    font-weight: 600;
    background-image:linear-gradient(117deg,#5356FF,#0fb3ff, #378CE7, #378CE7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: grad-animation 2s infinite ease-in-out alternate;
}

.project-wraper::before {
    content: " ";
    height: 90px;
    width: 90px;
    background: linear-gradient(135deg,#5356FF,#0fb3ff, #378CE7);
    border-top-left-radius: 8px;
    opacity: 1;
}

@keyframes grad-animation{
    0% {
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}
 
.blobs {
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: cover;
    height: 100%;
}

.blob1 {
    background-image: url('blob1.svg');
}

.blob2 {
    background-image: url('wave.svg');
}

.blob3 {
    background-image: url('blob3.svg');
}


.purple{
    color: #378CE7 !important;
}

.row {
    padding: 0%;
    margin: 0;
}

.col {
    padding: 0%;
}

@media only screen and (max-width: 600px) {
.col { 
    display: block;
    width: 100%;
}
.mypad1 {
    padding: 1.2rem !important;
}

.display-4{
    font-size: 250% !important;
}
}
