.root {
    --text-color: black;
    --text-color-2: hsl(211, 85%, 39%);
    --background: rgb(226, 248, 255);
    --header: #bfebff54;
    --wave: url('Assets/wave.webp');
    --text-font: "Poppins", sans-serif;
    --text-size: 120% !important;
    --text-size-2: 100% !important;
    --head-color: #d6eaf346;
    --card-color: rgba(117, 200, 255, 0.158);
    --img-g: url('Assets/rootg.svg');
    --Ypos: 500px;
    --Xpos: 500px;
    --hover-color: #55c1ff27;
    --hover-color2: #cecece0a;
    --mar-left: 5%;
    --wave-bright: brightness(100%);
    transition: all ease-in-out 0.5s;
}

.dark{
    --text-font: "Poppins", sans-serif;
    --text-color: rgb(226, 248, 255);
    --text-color-2: hsl(211, 85%, 39%);
    --text-size: 120% !important;
    --text-size-2: 100% !important;
    --background: #1d1d1e;
    --header: #46464654;
    --wave: url('Assets/wave.webp');
    --wave-bright: brightness(50%);
    --head-color: rgba(37, 37, 37, 0.692);
    --card-color: rgba(64, 81, 102, 0.171);
    --img-g: url('Assets/darkg.svg');
    --hover-color: #1050b11a;
    --hover-color2: #005dc713;
    --mar-left: 5%;
    transition: all ease-in-out 0.5s;
}

.ar {
    --text-font: "Mada", sans-serif;
    --text-size: 155% !important;
    --text-size-2: 130% !important;
    --mar-left: 0%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    top: 63px;
    float: right;
    z-index: 2;
    }

nav li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

.p-3-top {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

p {word-wrap: break-word;
    font-family: var(--text-font) !important;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    transition: all ease-in-out 0.5s;
    }

.hro{
    color: var(--text-color);
    margin: 0;
    transition: all ease-in-out 0.5s;
}

.contact {
    display: inline-block;
    margin-left: 0 !important;
}

.inline {
    display: inline-block;
}

div {
    padding-left: 2%;
    margin-left: -2%;
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    padding-right: 2%;
    margin-right: -2%;
    margin:auto;
    }

body, html {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100vw;
    }

body {
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: stretch;
}

.content {
flex: 1; /* Take up remaining space */
overflow-y: auto; /* Allow vertical scrolling if content exceeds screen */
padding: 0%;
margin: 0%;
}

.display-4 {
    font-size: 400% !important;
    font-family: var(--text-font) !important;
}

a {
    font-family:var(--text-font);
    font-weight: 400;
    font-style: normal;
    text-decoration: none !important;
    color: var(--text-color-2);
    transition: ease-in-out 0.5s !important;
    font-size: var(--text-size-2);
}

.lead {
    font-size: var(--text-size) !important;
}

a:hover, a.active {
    color: #00c3ff !important;
}

.navo {
    height: 60px;
    width: 100%;
    margin-bottom: 15px;
    z-index: 3;
    background-color: var(--head-color);
    transition: all ease-in-out 0.5s;
}

.brand{
    margin-left: 20px !important;
    margin-right: 10px !important;
}

.rtl {
    direction: rtl !important;

}

.bolder {
    font-family: var(--text-font) !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.text-shadow-lg{
    margin: 0z;
}

.special-text-gradient {
    font-weight: 600;
    background-image:linear-gradient(117deg,#5356FF,#0fb3ff, #378CE7, #378CE7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: grad-animation 2s infinite ease-in-out alternate;
    font-family: var(--text-font);
}

@keyframes grad-animation{
    0% {
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}
 
.bg-ready {
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: cover;
    height: 100vh;
}

.foot {
    aspect-ratio: 3139/430;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: cover;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.bg-image {
    background: var(--background);
    transition: all ease-in-out 0.5s;
}

.foot-image {
    background-image: var(--wave);
    filter: var(--wave-bright);
    transition: all ease-in-out 0.5s;
    z-index: 5;
}

.infoot {
    background-color: var(--text-color);
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
}

.purple{
    color: var(--text-color-2) !important;
    transition: all ease-in-out 0.5s;
}

.no-border{
    padding: 0;
    border: none;
    background: none;
    float: right;
    margin-top: 16px;
    margin-right: 10px;
}

.left-part-hide{
    opacity: 0 !important;
    transition: all 1s;
}

.left-part-show{
    opacity: 1 !important;
}

.right-part-hide{
    opacity: 0 !important;
    transition: all 1s;
    width: 100% !important;
}

.right-part-show{
    opacity: 1 !important;
    width: 100% !important;
}

.row {
    width: 100% !important;
}

.burger {
    float: right !important;
    margin-top: 15px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#checkbox {
    display: none;
}

.brand{
    margin-top: 10px;
    margin-left: 10px;
}

.projects a{
    font-size: 220% !important;
}

.projects p{
    font-size: 110% !important;
}

.projects{
    width: 100% !important;
    height: 45vh;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 10px !important;
}

.projects::-webkit-scrollbar {
    background-color: #ffffff00;
    width: 4px;
}

.projects::-webkit-scrollbar-thumb {
    background-color: #0f61b871;
    border-radius: 10px;
}

.titlep {
    padding-top: 2%;
}

.card {
    background-color: var(--card-color) !important;
    backdrop-filter: blur(1px) !important;
    border: none !important;
    margin-left: var(--mar-left) !important;
    margin-right: 0%;
    padding: 10px;
    background: radial-gradient(circle at var(--Xpos) var(--Ypos),var(--hover-color), var(--hover-color2), transparent 100%), var(--card-color);
    transition: all ease-in-out 0.5s;
}

.card:hover{
    background: radial-gradient(circle at var(--Xpos) var(--Ypos),var(--hover-color), var(--hover-color2), transparent 100%), var(--card-color);
    background-repeat: no-repeat;
    background-size:contain;
    transition: all ease-in-out 0.5s;
}

.card .display-4 {
    font-size: 335% !important;
    margin: auto !important;
}

.card ul {
    padding: 1px !important;
}

.card p {
    pointer-events: none;
}

.blur {
    position: absolute;
    bottom: 0;
    width: inherit;
    height: 100px; /* Adjust height as needed */
    aspect-ratio: 10/2;
    background-image: var(--img-g);
    transition: all 0.5s ease-in-out;
    pointer-events: none;
  }

.blur2 {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: inherit;
    height: 12px; /* Adjust height as needed */
    background: var(--head-color);
    transition: all 0.5s ease-in-out;
    pointer-events: none;
  }

  .card2 {
    background-color: var(--card-color) !important;
    backdrop-filter: blur(1px) !important;
    border: none !important;
    border-radius: 5px;
    padding: 10px !important;
    padding-bottom: 0px !important;
    background: radial-gradient(circle at var(--Xpos) var(--Ypos),var(--hover-color), var(--hover-color2), transparent 100%), var(--card-color);
    transition: all ease-in-out 0.5s;
}


@media only screen and (max-width: 743px) {
    .card .display-4 {
        font-size: 255% !important;
    }
    .card .lead{
        font-size: 100% !important;
    }
}

@media only screen and (max-width: 628px) {
    .card .display-4 {
        font-size: 175% !important;
    }
    .card .lead{
        font-size: 90% !important;
    }
}

@media only screen and (max-width: 575px) {
    .card .display-4 {
        font-size: 275% !important;
    }
    .card .lead{
        font-size: 140% !important;
    }
}

@media only screen and (max-width: 600px) {

.display-4{
    font-size: 250% !important;
}
}

@media only screen and (max-width: 346px) {
    .display-4{
        font-size: 200% !important;
    }
}

@media only screen and (max-width: 294px) {
    .display-4{
        font-size: 200% !important;
    }
}

@media only screen and (max-width: 512px){
    .burger {
        display: block;
    }
    nav ul{
        width: 100%;
        height: 100vh;
        position: fixed;
        margin: 0;
        text-align: center;
        padding: 0;
        transform: translateX(100%);
        background: var(--background);
        transition: 1s all;
    }
    nav ul li {
        display: block;
        font-size: 160%;
    }

    #checkbox:checked ~ ul {
        transform: translateX(0%);
    }

    body, html {
        height: 120vh;
    }
}
