body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#44397e,#211951) !important;
}

h1 {font-size: 50;}

p {word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    }

div {
    padding-left: 2%;
    margin-left: -2%;
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    padding-right: 2%;
    margin-right: -2%;
    margin:auto;
    }

.sticky {
    position: fixed;
    top: 0;
    width: 100%
    }
    
.sticky + .content {
    padding-top: 102px;
    }

.btn-primary{
    background: #9e90fa;
    border: none;
    border-radius: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 160%;
    color: rgb(56, 18, 56);
    transition: background 0.5s;
}

.btn-primary:hover{
    background: #cd95fa;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(0);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(5%);
}

.mypad1 {
    padding: 3rem !important;
}

@media only screen and (max-width: 600px) {
.col { 
    display: block;
    width: 100%;
}
.mypad1 {
    padding: 1.2rem !important;
}
}