.root {
    --text-color: black;
    --text-color-2: #378CE7;
    --background: url('Assets/noise.svg');
    --header: #bfebff54;
    --wave: url('Assets/wave.png');
    transition: all ease-in-out 0.5s;
    --text-font: "Poppins", sans-serif;
    --text-size: 120% !important;
    --text-size-2: 100% !important;
    --head-color: #DFF5FF;
}

.dark{
    --text-font: "Poppins", sans-serif;
    --text-color: rgb(226, 248, 255);
    --text-color-2: #74aeec;
    --text-size: 120% !important;
    --text-size-2: 100% !important;
    --background: url('Assets/noisedark.svg');
    --header: #46464654;
    --wave: url('Assets/wavedark.png');
    --head-color: #1d1d1d;
    transition: all ease-in-out 0.5s;
}

.ar {
    --text-font: "Mada", sans-serif;
    --text-size: 155% !important;
    --text-size-2: 130% !important;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    top: 63px;
    float: right;
    z-index: 2;
    }

nav li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

p {word-wrap: break-word;
    font-family: var(--text-font) !important;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    transition: all ease-in-out 0.5s;
    }

.hro{
    color: var(--text-color);
    transition: all ease-in-out 0.5s;
}

div {
    padding-left: 2%;
    margin-left: -2%;
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    padding-right: 2%;
    margin-right: -2%;
    margin:auto;
    }

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    }

body {
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: stretch;
}

.content {
flex: 1; /* Take up remaining space */
overflow-y: auto; /* Allow vertical scrolling if content exceeds screen */
padding: 0%;
margin: 0%;
}

.display-4 {
    font-size: 350% !important;
    font-family: var(--text-font) !important;
}

a {
    font-family:var(--text-font);
    font-weight: 400;
    font-style: normal;
    text-decoration: none !important;
    color: var(--text-color-2);
    transition: ease-in-out 0.5s !important;
    font-size: var(--text-size-2);
}

.lead {
    font-size: var(--text-size) !important;
}

a:hover, a.active {
    color: #00c3ff !important;
}

.navo {
    background-color: var(--header) !important;
    height: 60px;
    width: 100%;
    z-index: 3;
    transition: all ease-in-out 0.5s;
}

.rtl {
    direction: rtl !important;
}

.bolder {
    font-family: var(--text-font) !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.special-text-gradient {
    font-weight: 600;
    background-image:linear-gradient(117deg,#5356FF,#0fb3ff, #378CE7, #378CE7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: grad-animation 2s infinite ease-in-out alternate;
    font-family: var(--text-font);
}

@keyframes grad-animation{
    0% {
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}
 
.bg-ready {
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: cover;
    height: 100vh;
}

.foot {
    aspect-ratio: 3139/430;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: cover;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.bg-image {
    background-image: var(--background);
    transition: all ease-in-out 0.5s;
}

.foot-image {
    background-image: var(--wave);
    transition: all ease-in-out 0.5s;
    z-index: 5;
}

body::-webkit-scrollbar {
    z-index: 999; /* Set a high z-index value */
}

.purple{
    color: var(--text-color-2) !important;
    transition: all ease-in-out 0.5s;
}

.no-border{
    padding: 0;
    border: none;
    background: none;
    float: right;
    margin-top: 16px;
    margin-right: 10px;
}

.left-part-hide{
    transform: translateX(-80%);
    opacity: 0 !important;
    transition: all 1s;
}

.left-part-show{
    transform: translateX(0%);
    opacity: 1 !important;
}

.right-part-hide{
    transform: translateX(30%);
    opacity: 0 !important;
    transition: all 1s;
    width: 100% !important;
}

.right-part-show{
    transform: translateX(0%);
    opacity: 1 !important;
    width: 100% !important;
}

.row {
    width: 100% !important;
}

.burger {
    float: right !important;
    margin-top: 15px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#checkbox {
    display: none;
}

.brand{
    margin-top: 10px;
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {

.display-4{
    font-size: 250% !important;
}
}

@media only screen and (max-width: 346px) {
    .display-4{
        font-size: 200% !important;
    }
}

@media only screen and (max-width: 294px) {
    .display-4{
        font-size: 130% !important;
    }
}

@media only screen and (max-width: 492px){
    .burger {
        display: block;
    }
    nav ul{
        width: 100%;
        height: 100vh;
        position: fixed;
        margin: 0;
        text-align: center;
        padding: 0;
        transform: translateX(100%);
        background: var(--head-color);
        transition: 1s all;
    }
    nav ul li {
        display: block;
        font-size: 160%;
    }

    #checkbox:checked ~ ul {
        transform: translateX(0%);
    }
}
